[Desktop Entry]
Version=1.0
Type=Application
Name=AlexOS Files
Comment=File manager
Icon=alexos-files
Exec=/usr/local/bin/alexos-files %U
Terminal=false
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
Keywords=files;folders;manager;browser;
StartupNotify=true
